extends layout
block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Probando Asistente
        form(method='POST' action='/results' enctype="multipart/form-data")
          div.form-group
            label(for='testcsv') Archivo:
            input.form-control(type='file', placeholder='Data Test' name='testcsv')
          each bot, b in bots
            div #{bot.name} 
              input.form-control(type='radio', name='bot' value='#{b}')
          button.btn.btn-primary(type='submit') Test