body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#results {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#results td, #results th {
    border: 1px solid #ddd;
    padding: 8px;
}
#results .incorrect td span {
	display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: red;
}
#results .correct td span {
	display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: green;
}
#results tr:nth-child(even){background-color: #f2f2f2;}

#results tr:hover {background-color: #ddd;}

#results th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
